fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic
python-multipart
python-jose
bcrypt
alembic
email-validator
python-dotenv
cryptography
requests
pillow
opencv-python
numpy
paddleocr
paddlepaddle
spacy
pandas
openpyxl
